header{
  box-sizing: border-box;
  height: 25vh;
  padding-top: 0.7rem;
  flex:0.8;
  display: flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
  p{
    margin: 0;
    font-size: 1.1rem;
  }
}