@font-face{
  font-family: 'btn';
  src: url('../../assets/font/FZZDHJW.ttf');
}
p{
  margin: 0;
}
.content{
  display: flex;
  flex-direction: column;
}
.main_topContent{
  height: 7rem;
  padding: 0.4rem 0.2rem;
  display: flex;
  align-items:center;
  flex-direction: column;
  p{
    font-size: 0.67rem;
  }
}
.main_bottomContent{
  padding: 0 0.2rem 0.2rem 0.2rem;
  p{
    font-family: 'pingf';
    opacity: 0.8;
    font-size: 0.38rem !important;
    color: #fff;
    letter-spacing: 0.01rem;
    margin: 0 0.1rem 0.4rem 0.1rem;
  }
}

.select{
  // background-color: #e68f67;
  background: #e68f67 url('../../assets/image/arrow.png') no-repeat right -0.05rem center;
  background-size: 1.05rem 1.05rem;
  border: 0.05rem solid #fff;
  margin-top: 0.3rem;
  color: #ba3e32;
  margin-bottom: 1.5rem;
  display: inline-block;
  outline: none;
  padding: 0 0.4rem;
  width: 6.5rem;
  height: 1.1rem;
  font-size: 0.34rem;
  border-radius: 3rem;
  appearance: none;
}
.portrait{
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;
  border: 0.05rem solid #fff;
  background-size: cover !important;
  margin: 0 auto;
}

.btn{
  margin: 0 auto;
  background: url('../../assets/image/button.png') no-repeat center;
  background-size: 100%;
  height: 1.5rem;
  width: 6.9rem;
  font-size: 0.5rem;
  display: flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
  .button{
    font-size: 0.4rem;
    margin-bottom: 0.1rem;
    font-family: 'btn';
    color: #ee916a;
    font-size: 0.6rem;
    text-shadow:2px 2px 0 #9a7352, -2px -2px 0 #9a7352,2px -2px 0 #9a7352,-2px 2px 0 #9a7352;
    letter-spacing:0.05rem;
  }
  a{
    font-size: 0.4rem;
    margin-bottom: 0.1rem;
    text-decoration: none;
    font-family: 'btn';
    color: #ee916a;
    font-size: 0.6rem;
    text-shadow:2px 2px 0 #9a7352, -2px -2px 0 #9a7352,2px -2px 0 #9a7352,-2px 2px 0 #9a7352;
    letter-spacing:0.05rem;
  }
}
.name{
  text-align: center;
  color: #e08860;
  margin-top: 0.05rem;
  font-size: 0.4rem;
  font-family: 'pingf'
}